BOOT_IMAGE_LIST = ipl cis ipl_cust uboot
IMAGE_LIST = boot misc rtos
OTA_IMAGE_LIST = boot misc
FLASH_TYPE = nor
BENCH = no
PHY_TEST = no

USR_MOUNT_BLOCKS:= misc 
ENV_CFG = /dev/mtd1 0 0x1000 0x1000
FLASH_BLK_SIZE = 0x10000
FLASH_BLK_CNT = 256

# ISP 
ISP_API_DAY0                     = isp_api_day0.bin
ISP_API_NIGHT0                   = isp_api_night0.bin
ISP_API_COLORNIGHT0              = isp_api_colornight0.bin
ISP_IQ0                          = isp_iq0.bin
ISP_AWB0                         = isp_awb_cali0.data
ISP_ALSC0                        = isp_alsc_cali0.data

ISP_API_DAY1                     = isp_api_day1.bin
ISP_API_NIGHT1                   = isp_api_night1.bin
ISP_API_COLORNIGHT1              = isp_api_colornight1.bin
ISP_IQ1                          = isp_iq1.bin
ISP_AWB1                         = isp_awb_cali1.data
ISP_ALSC1                        = isp_alsc_cali1.data

ifeq ($(IS_DEMO_BOARD), 1)
bootlogocmd = gpio out 7 1 \;gpio out 8 1 \;bootlogo 0 0 0 0 \;
else
bootlogocmd = bootlogo 0 0 0 0\;
endif
MTDPARTS = "mtdparts=nor0:$(boot$(MTDPART)),$(cis$(SYSTAB))"

cis$(RESOUCE) = $(IMAGEDIR)/cis.bin
cis$(DATASIZE) = 0x6000
cis$(COPIES) = 1
cis$(PATSIZE) = $(cis$(DATASIZE))
cis$(BOOTTAB0) = $(ipl$(MTDPART)),$(cis$(PATSIZE))(CIS),$(ipl_cust$(MTDPART)),$(uboot$(MTDPART)),0x1000@$(boot$(PATSIZE))(ENV)
cis$(SYSTAB) = $(misc$(MTDPART)),$(rtos$(MTDPART))

ipl$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot-rtos/$(FLASH_TYPE)/ipl/IPL.bin
ipl$(DATASIZE) = $(call alignup, $(call filesize, $(ipl$(RESOUCE))), $(FLASH_PG_SIZE))
ipl$(COPIES) = 1
ipl$(PATSIZE) = $(ipl$(DATASIZE))
ipl$(MTDPART) = $(ipl$(PATSIZE))(IPL)

ipl_cust$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot-rtos/$(FLASH_TYPE)/ipl/IPL_CUST.bin
ipl_cust$(DATASIZE) = $(call alignup, $(call filesize, $(ipl_cust$(RESOUCE))), $(FLASH_PG_SIZE))
ipl_cust$(COPIES) = 1
ipl_cust$(PATSIZE) = $(ipl_cust$(DATASIZE))
ipl_cust$(MTDPART) = $(ipl_cust$(PATSIZE))(IPL_CUST)

uboot$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot-rtos/$(FLASH_TYPE)/uboot/u-boot.xz.img.bin
uboot$(DATASIZE) = $(call alignup, $(call filesize, $(uboot$(RESOUCE))), $(FLASH_PG_SIZE))
uboot$(COPIES) = 1
uboot$(PATSIZE) = $(uboot$(DATASIZE))
uboot$(MTDPART) = $(uboot$(PATSIZE))(UBOOT)

boot$(RESOUCE) = $(IMAGEDIR)/boot.bin
boot$(PATSIZE) = 0x4F000
boot$(MTDPART) = $(boot$(PATSIZE))(BOOT0),0x1000(ENV)
boot$(OTABLK) = /dev/mtdblock0

misc$(RESOUCE) =  $(OUTPUTDIR)/misc
misc$(PATSIZE)     = 0x180000
misc$(FSTYPE) = fwfs
misc$(MOUNTTG) = /misc
misc$(OPTIONS) = rw
misc$(MOUNTPT) = /dev/mtd4
misc$(MTDPART) = $(misc$(PATSIZE))(MISC)
misc$(OTABLK) = /dev/mtdblock4

rtos$(PATSIZE)     = 0x200000
rtos$(RESOUCE)     = $(PROJ_ROOT)/board/$(CHIP)/rtos/$(RTOS_BIN)
rtos$(MTDPART) = $(rtos$(PATSIZE))(RTOS)

