FAT_IMAGE_LIST = ipl ipl_cust uboot
SYS_IMAGE_LIST = kernel rootfs miservice customer appconfigs misc
IMAGE_LIST = fat system
OTA_IMAGE_LIST = ipl ipl_cust uboot kernel misc miservice customer appconfigs
FLASH_TYPE = sdmmc

FLASH_BLK_SIZE = 0x200
FLASH_PG_SIZE = 0x800
#SD capacity  2GB:0x400000 | 4GB:0x800000 | 8GB:0x1000000 | 16GB:0x2000000 | 32GB:0x4000000 | 64GB:0x8000000
FLASH_BLK_CNT  = 0x200000
#SD capacity reserved
FLASH_RESV_DIV = 0xA
FLASH_BLK_CNT_RESV = $(shell ((cnt=$(FLASH_BLK_CNT)/$(FLASH_RESV_DIV))); printf 0x%X $$cnt)
ENV_TYPE = signal
ENV_CFG = /dev/mmcblk0 0x4f000 0x20000

BENCH = no
PHY_TEST = no

USR_MOUNT_BLOCKS:=miservice customer appconfigs misc

#file size bigger than this need to split
SPLIT_EACH_FILE_SIZE:= 20971520

#do not support bootlogocmd
bootlogocmd = bootlogo 0 0 0 0\;

#image create config
CNT = "CNT"
INDEX = "INDEX"

# /dev/mmcblk0p1 should be mounted to /tmp when upgrade IPL/IPL_CUST/UBOOT part
ipl$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/ipl/IPL
ipl$(COPIES) = 1
ipl$(OTABLK) = /tmp/IPL
#ipl$(PATSIZE)  = 0x6000

ipl_cust$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/ipl/IPL_CUST
ipl_cust$(COPIES) = 1
ipl_cust$(OTABLK) = /tmp/IPL_CUST

uboot$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/uboot/UBOOT
uboot$(COPIES) = 1
uboot$(OTABLK) = /tmp/UBOOT

kernel$(RESOUCE)    = $(PROJ_ROOT)/kbuild/$(KERNEL_VERSION)/arch/arm/boot/uImage.xz
kernel$(BOOTCMD)    = fdisk -r 0:$(kernel$(INDEX)) $(KERNELBOOTADDR) 0 $(kernel$(CNT))\;
kernel$(BOOTENV)    = $(KERNEL_BOOT_ENV)
kernel$(CNT)        = 0xA000
kernel$(INDEX) = 2
kernel$(OTABLK)   = /dev/mmcblk0p2
kernel$(PATSIZE)  = 0xA00000

rootfs$(RESOUCE)    = $(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)     = ext4
rootfs$(PATSIZE)    = 0x1400000
rootfs$(BOOTENV)    = console=ttyS0,115200 root=/dev/mmcblk0p3 rootwait rootfstype=ext4 rw init=/linuxrc
rootfs$(CNT)        = 0x32000
rootfs$(INDEX)      = 3

miservice$(RESOUCE) = $(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)  = ext4
miservice$(PATSIZE) = 0x1400000
miservice$(MOUNTTG) = /config
miservice$(MOUNTPT) = /dev/mmcblk0p5
miservice$(OPTIONS) = ro
miservice$(CNT)     = 0x48000
miservice$(INDEX)   = 5  # skip ext partition 4
miservice$(OTABLK)   = /dev/mmcblk0p5

customer$(RESOUCE)  = $(OUTPUTDIR)/customer
customer$(FSTYPE)   = ext4
customer$(PATSIZE)  = 0x1600000
customer$(MOUNTTG)  = /customer
customer$(MOUNTPT)  = /dev/mmcblk0p6
customer$(OPTIONS)  = rw
customer$(CNT)      = 0x100000
customer$(INDEX)    = 6
customer$(OTABLK)   = /dev/mmcblk0p6

appconfigs$(RESOUCE)  = $(OUTPUTDIR)/appconfigs
appconfigs$(FSTYPE)   = ext4
appconfigs$(PATSIZE)  = 0x1600000
appconfigs$(MOUNTTG)  = /appconfigs
appconfigs$(MOUNTPT)  = /dev/mmcblk0p7
appconfigs$(OPTIONS)  = rw
appconfigs$(CNT)      = 0x18000
appconfigs$(INDEX)    = 7
appconfigs$(OTABLK) = /dev/mmcblk0p7

misc$(RESOUCE)      = $(OUTPUTDIR)/misc
misc$(FSTYPE)       = fwfs
misc$(PATSIZE)      = 0x1400000
misc$(DATASIZE)     = 0x1400000
misc$(MOUNTTG)      = /misc
misc$(MOUNTPT)      = /dev/mmcblk0p8
misc$(OPTIONS)      = rw
misc$(CNT)          = 0xA000
misc$(INDEX)        = 8
misc$(MISCENV)      = MiscPart $(misc$(INDEX))
misc$(OTABLK)   = /dev/mmcblk0p8

user-fat$(CNT)      = $(shell ((cnt=$(FLASH_BLK_CNT)-$(FLASH_BLK_CNT_RESV)-$(kernel$(CNT))-$(rootfs$(CNT))-$(miservice$(CNT))-$(customer$(CNT))-$(appconfigs$(CNT))-$(misc$(CNT)))); printf 0x%X $$cnt)
user-fat$(TYPE)     = FAT32
user-fat$(INDEX)    = 1  # fat partition have to be part1

SYSTEM_PART_LIST    = user-fat kernel rootfs miservice customer appconfigs misc

EXT4_RESIZE_PAT_LIST = /dev/mmcblk0p5 /dev/mmcblk0p6 /dev/mmcblk0p7
