FAT_IMAGE_LIST = ipl ipl_cust uboot
SYS_IMAGE_LIST = kernel rootfs miservice customer misc
IMAGE_LIST = fat system
FLASH_TYPE = sdmmc

FLASH_BLK_SIZE = 0x200
FLASH_PG_SIZE = 0x800
#SD capacity  2GB:0x400000 | 4GB:0x800000 | 8GB:0x1000000 | 16GB:0x2000000 | 32GB:0x4000000 | 64GB:0x8000000
FLASH_BLK_CNT  = 0x800000

ENV_TYPE = signal
ENV_CFG = /dev/mmcblk0 0x4f000 0x20000

BENCH = no
PHY_TEST = no

USR_MOUNT_BLOCKS:=miservice customer misc

#file size bigger than this need to split
SPLIT_EACH_FILE_SIZE:= 20971520

#do not support bootlogocmd
bootlogocmd = bootlogo 0 0 0 0\;

#image create config
CNT = "CNT"
INDEX = "INDEX"

ipl$(RESOUCE)       = $(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/ipl/IPL
ipl$(COPIES)        = 1

ipl_cust$(RESOUCE)  = $(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/ipl/IPL_CUST
ipl_cust$(COPIES)   = 1

uboot$(RESOUCE)     = $(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/uboot/UBOOT
uboot$(COPIES)      = 1

kernel$(RESOUCE)    = $(PROJ_ROOT)/kbuild/$(KERNEL_VERSION)/arch/arm/boot/uImage.xz
kernel$(BOOTCMD)    = fdisk -r 0:$(kernel$(INDEX)) $(KERNELBOOTADDR) 0 $(kernel$(CNT))\;
kernel$(BOOTENV)    = $(KERNEL_BOOT_ENV)
kernel$(CNT)        = 0xA000
kernel$(INDEX)      = 2

rootfs$(RESOUCE)    = $(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)     = ext4
rootfs$(PATSIZE)    = 0x1400000
rootfs$(BOOTENV)    = console=ttyS0,115200 root=/dev/mmcblk0p3 rootwait rootfstype=ext4 rw init=/linuxrc
rootfs$(CNT)        = 0x64000
rootfs$(INDEX)      = 3

miservice$(RESOUCE) = $(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)  = ext4
miservice$(PATSIZE) = 0x1400000
miservice$(MOUNTTG) = /config
miservice$(MOUNTPT) = /dev/mmcblk0p5
miservice$(OPTIONS) = ro
miservice$(CNT)     = 0x96000
miservice$(INDEX)   = 5  # skip ext partition 4

customer$(RESOUCE)  = $(OUTPUTDIR)/customer
customer$(FSTYPE)   = ext4
customer$(PATSIZE)  = 0x1600000
customer$(MOUNTTG)  = /customer
customer$(MOUNTPT)  = /dev/mmcblk0p6
customer$(OPTIONS)  = rw
customer$(CNT)      = 0x400000
customer$(INDEX)    = 6

misc$(RESOUCE)      = $(OUTPUTDIR)/misc
misc$(FSTYPE)       = fwfs
misc$(PATSIZE)      = 0x1400000
misc$(DATASIZE)     = 0x1400000
misc$(MOUNTTG)      = /misc
misc$(MOUNTPT)      = /dev/mmcblk0p7
misc$(OPTIONS)      = rw
misc$(CNT)          = 0xA000
misc$(INDEX)        = 7
misc$(MISCENV)      = MiscPart $(misc$(INDEX))

user-fat$(CNT)      = 0x32000
user-fat$(TYPE)     = FAT32
user-fat$(INDEX)    = 1  # fat partition have to be part1

SYSTEM_PART_LIST    = user-fat kernel rootfs miservice customer misc

EXT4_RESIZE_PAT_LIST = /dev/mmcblk0p5 /dev/mmcblk0p6
