#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.builtin
*.order
*.su

!.libs_depend
!.mods_depend
boot/System.map
boot/arch/arm/include/asm/arch
boot/arch/arm/lib/asm-offsets.s
boot/arch/arm/lib/lib.a
boot/examples/standalone/hello_world
boot/examples/standalone/hello_world.bin
boot/examples/standalone/hello_world.srec
boot/include/autoconf.mk
boot/include/autoconf.mk.dep
boot/include/config.h
boot/include/config/
boot/include/generated/
boot/include/ms_version.h
boot/lib/asm-offsets.s
boot/scripts/basic/fixdep
boot/scripts/kconfig/conf
boot/scripts/kconfig/mconf
boot/scripts/kconfig/zconf.hash.c
boot/scripts/kconfig/zconf.lex.c
boot/scripts/kconfig/zconf.tab.c
boot/tools/common/
boot/tools/dumpimage
boot/tools/envcrc
boot/tools/gen_eth_addr
boot/tools/lib/
boot/tools/mkenvimage
boot/tools/mkimage
boot/tools/proftool
boot/u-boot
boot/u-boot.bin
boot/u-boot.lds
boot/u-boot.map
boot/u-boot.srec
boot/u-boot_spinand.img.bin
boot/u-boot_spinand.mz.img.bin
boot/u-boot_spinand.xz.img.bin

kernel/.config
kernel/.config.old
kernel/.version
kernel/Module.symvers
kernel/arch/arm/boot/Image-fpga
kernel/arch/arm/boot/Image.mz
kernel/arch/arm/boot/Image.xz
kernel/arch/arm/boot/uImage.mz
kernel/arch/arm/boot/uImage.xz
kernel/drivers/sstar/include/ms_version.h
kernel/include/config/auto.conf
kernel/include/config/tristate.conf
kernel/include/generated/asm-offsets.h
kernel/include/generated/autoconf.h
kernel/include/generated/compile.h
kernel/modules/modules.list
kernel/scripts/basic/fixdep
kernel/scripts/conmakehash
kernel/scripts/dtc/dtc
kernel/scripts/kallsyms
kernel/scripts/kconfig/conf
kernel/scripts/mod/mk_elfconfig
kernel/scripts/mod/modpost
kernel/scripts/sortextable
project/.config
project/configs/current.configs
project/include/config/verify/usbcam/
project/include/config/auto.conf
project/include/generated/autoconf.h
project/scripts/basic/.fixdep.cmd
project/scripts/basic/fixdep
project/scripts/kconfig/.conf.o.cmd
project/scripts/kconfig/.zconf.tab.o.cmd
project/scripts/kconfig/conf
project/scripts/kconfig/conf.o
project/scripts/kconfig/zconf.tab.o

kernel/System.map
kernel/arch/arm/boot/Image
kernel/arch/arm/boot/compressed/ashldi3.S
kernel/arch/arm/boot/compressed/bswapsdi2.S
kernel/arch/arm/boot/compressed/fdt.c
kernel/arch/arm/boot/compressed/fdt.h
kernel/arch/arm/boot/compressed/fdt_ro.c
kernel/arch/arm/boot/compressed/fdt_rw.c
kernel/arch/arm/boot/compressed/fdt_wip.c
kernel/arch/arm/boot/compressed/hyp-stub.S
kernel/arch/arm/boot/compressed/lib1funcs.S
kernel/arch/arm/boot/compressed/libfdt.h
kernel/arch/arm/boot/compressed/libfdt_internal.h
kernel/arch/arm/boot/compressed/piggy_data
kernel/arch/arm/boot/compressed/vmlinux
kernel/arch/arm/boot/compressed/vmlinux.lds
kernel/arch/arm/boot/dts/pioneer3-fpga.dtb
kernel/arch/arm/boot/dts/pioneer3-ssc020a-s01a-demo-camera.dtb
kernel/arch/arm/boot/uImage
kernel/arch/arm/boot/zImage
kernel/arch/arm/kernel/asm-offsets.s
kernel/arch/arm/kernel/vmlinux.lds
kernel/arch/arm/lib/lib.a
kernel/arch/arm/vdso/vdso.lds
kernel/arch/arm/vdso/vdso.so
kernel/arch/arm/vdso/vdso.so.dbg
kernel/arch/arm/vdso/vdso.so.raw
kernel/arch/arm/vdso/vdsomunge
kernel/crypto/echainiv.ko
kernel/crypto/echainiv.mod.c
kernel/drivers/hid/usbhid/usbhid.ko
kernel/drivers/hid/usbhid/usbhid.mod.c
kernel/drivers/i2c/i2c-mux.ko
kernel/drivers/i2c/i2c-mux.mod.c
kernel/drivers/media/media.ko
kernel/drivers/media/media.mod.c
kernel/drivers/media/usb/gspca/gspca_main.ko
kernel/drivers/media/usb/gspca/gspca_main.mod.c
kernel/drivers/media/usb/uvc/uvcvideo.ko
kernel/drivers/media/usb/uvc/uvcvideo.mod.c
kernel/drivers/media/v4l2-core/v4l2-common.ko
kernel/drivers/media/v4l2-core/v4l2-common.mod.c
kernel/drivers/media/v4l2-core/v4l2-dv-timings.ko
kernel/drivers/media/v4l2-core/v4l2-dv-timings.mod.c
kernel/drivers/media/v4l2-core/videobuf2-core.ko
kernel/drivers/media/v4l2-core/videobuf2-core.mod.c
kernel/drivers/media/v4l2-core/videobuf2-memops.ko
kernel/drivers/media/v4l2-core/videobuf2-memops.mod.c
kernel/drivers/media/v4l2-core/videobuf2-v4l2.ko
kernel/drivers/media/v4l2-core/videobuf2-v4l2.mod.c
kernel/drivers/media/v4l2-core/videobuf2-vmalloc.ko
kernel/drivers/media/v4l2-core/videobuf2-vmalloc.mod.c
kernel/drivers/media/v4l2-core/videodev.ko
kernel/drivers/media/v4l2-core/videodev.mod.c
kernel/drivers/misc/eeprom/at24.ko
kernel/drivers/misc/eeprom/at24.mod.c
kernel/drivers/misc/eeprom/eeprom.ko
kernel/drivers/misc/eeprom/eeprom.mod.c
kernel/drivers/mmc/card/mmc_block.ko
kernel/drivers/mmc/card/mmc_block.mod.c
kernel/drivers/mmc/core/mmc_core.ko
kernel/drivers/mmc/core/mmc_core.mod.c
kernel/drivers/mmc/core/pwrseq_emmc.ko
kernel/drivers/mmc/core/pwrseq_emmc.mod.c
kernel/drivers/mmc/core/pwrseq_simple.ko
kernel/drivers/mmc/core/pwrseq_simple.mod.c
kernel/drivers/mtd/tests/mtd_nandbiterrs.ko
kernel/drivers/mtd/tests/mtd_nandbiterrs.mod.c
kernel/drivers/mtd/tests/mtd_nandecctest.ko
kernel/drivers/mtd/tests/mtd_nandecctest.mod.c
kernel/drivers/mtd/tests/mtd_oobtest.ko
kernel/drivers/mtd/tests/mtd_oobtest.mod.c
kernel/drivers/mtd/tests/mtd_pagetest.ko
kernel/drivers/mtd/tests/mtd_pagetest.mod.c
kernel/drivers/mtd/tests/mtd_readtest.ko
kernel/drivers/mtd/tests/mtd_readtest.mod.c
kernel/drivers/mtd/tests/mtd_speedtest.ko
kernel/drivers/mtd/tests/mtd_speedtest.mod.c
kernel/drivers/mtd/tests/mtd_stresstest.ko
kernel/drivers/mtd/tests/mtd_stresstest.mod.c
kernel/drivers/mtd/tests/mtd_subpagetest.ko
kernel/drivers/mtd/tests/mtd_subpagetest.mod.c
kernel/drivers/mtd/tests/mtd_torturetest.ko
kernel/drivers/mtd/tests/mtd_torturetest.mod.c
kernel/drivers/mtd/tests/mtd_walking1.ko
kernel/drivers/mtd/tests/mtd_walking1.mod.c
kernel/drivers/nvmem/nvmem_core.ko
kernel/drivers/nvmem/nvmem_core.mod.c
kernel/drivers/scsi/sd_mod.ko
kernel/drivers/scsi/sd_mod.mod.c
kernel/drivers/sstar/crypto/cryptodev/cryptodev.ko
kernel/drivers/sstar/crypto/cryptodev/cryptodev.mod.c
kernel/drivers/sstar/sdmmc/kdrv_sdmmc.ko
kernel/drivers/sstar/sdmmc/kdrv_sdmmc.mod.c
kernel/drivers/tty/vt/defkeymap.c
kernel/drivers/usb/common/usb-common.ko
kernel/drivers/usb/common/usb-common.mod.c
kernel/drivers/usb/core/usbcore.ko
kernel/drivers/usb/core/usbcore.mod.c
kernel/drivers/usb/host/ehci-hcd.ko
kernel/drivers/usb/host/ehci-hcd.mod.c
kernel/drivers/usb/storage/usb-storage.ko
kernel/drivers/usb/storage/usb-storage.mod.c
kernel/fs/cifs/cifs.ko
kernel/fs/cifs/cifs.mod.c
kernel/fs/fat/fat.ko
kernel/fs/fat/fat.mod.c
kernel/fs/fat/msdos.ko
kernel/fs/fat/msdos.mod.c
kernel/fs/fat/vfat.ko
kernel/fs/fat/vfat.mod.c
kernel/fs/lockd/lockd.ko
kernel/fs/lockd/lockd.mod.c
kernel/fs/nfs/nfs.ko
kernel/fs/nfs/nfs.mod.c
kernel/fs/nfs/nfsv2.ko
kernel/fs/nfs/nfsv2.mod.c
kernel/fs/nfs_common/grace.ko
kernel/fs/nfs_common/grace.mod.c
kernel/fs/nls/nls_utf8.ko
kernel/fs/nls/nls_utf8.mod.c
kernel/fs/ntfs/ntfs.ko
kernel/fs/ntfs/ntfs.mod.c
kernel/kernel/bounds.s
kernel/lib/crc32table.h
kernel/lib/gen_crc32table
kernel/lib/lib.a
kernel/modules/at24.ko
kernel/modules/cifs.ko
kernel/modules/cryptodev.ko
kernel/modules/echainiv.ko
kernel/modules/eeprom.ko
kernel/modules/ehci-hcd.ko
kernel/modules/fat.ko
kernel/modules/grace.ko
kernel/modules/gspca_main.ko
kernel/modules/i2c-mux.ko
kernel/modules/kdrv_sdmmc.ko
kernel/modules/lockd.ko
kernel/modules/media.ko
kernel/modules/mmc_block.ko
kernel/modules/mmc_core.ko
kernel/modules/msdos.ko
kernel/modules/mtd_nandbiterrs.ko
kernel/modules/mtd_nandecctest.ko
kernel/modules/mtd_oobtest.ko
kernel/modules/mtd_pagetest.ko
kernel/modules/mtd_readtest.ko
kernel/modules/mtd_speedtest.ko
kernel/modules/mtd_stresstest.ko
kernel/modules/mtd_subpagetest.ko
kernel/modules/mtd_torturetest.ko
kernel/modules/mtd_walking1.ko
kernel/modules/nfs.ko
kernel/modules/nfsv2.ko
kernel/modules/nls_utf8.ko
kernel/modules/ntfs.ko
kernel/modules/nvmem_core.ko
kernel/modules/pwrseq_emmc.ko
kernel/modules/pwrseq_simple.ko
kernel/modules/sd_mod.ko
kernel/modules/sunrpc.ko
kernel/modules/usb-common.ko
kernel/modules/usb-storage.ko
kernel/modules/usbcore.ko
kernel/modules/usbhid.ko
kernel/modules/uvcvideo.ko
kernel/modules/v4l2-common.ko
kernel/modules/v4l2-dv-timings.ko
kernel/modules/vfat.ko
kernel/modules/videobuf2-core.ko
kernel/modules/videobuf2-memops.ko
kernel/modules/videobuf2-v4l2.ko
kernel/modules/videobuf2-vmalloc.ko
kernel/modules/videodev.ko
kernel/net/sunrpc/sunrpc.ko
kernel/net/sunrpc/sunrpc.mod.c
kernel/scripts/mod/devicetable-offsets.s
kernel/vmlinux
project/image/output/
project/kbuild/4.9.84/
project/release/include/mi_isp.h
project/release/include/mi_isp_3a_datatype.h
project/release/include/mi_isp_api_id.h
project/release/include/mi_isp_datatype.h
project/release/include/mi_isp_general.h
project/release/include/mi_isp_iq.h
project/release/include/mi_isp_iq_datatype.h

!.gitignore
